/*Body*/
body{       
    width: 100vw;   /*le dices en pixeles el porcentaje de pantalla que coge*/
    height: 100vh; 
    background: linear-gradient(180deg, rgba(232, 77, 145, 0.58) 22.4%, rgba(139, 239, 228, 0.76) 72.4%);   
    margin:0;
    padding: 0;
}

/*nav bar*/
/*Aqui pondremos la barra de navegacion que sera comun para varias pantallas*/